@CHARSET "UTF-8";

@font-face {
  font-family: 'WebFont';
  src: url(/UserCRUD/font/ROUNDED-MPLUS-2P-LIGHT.TTF);
}

body {
  font-family: WebFont;
  font-size: 120%;
  font-weight: bolder;
  background-color: #F0F0F0;
}

input {
  font-family: WebFont;
  font-weight: bolder;
}

table.inForm td {
  padding: 7px 15px 7px 0px;
}

table.general td, th {
        padding: 5px;
}

td.centering {
        text-align: center;
}

.fieldwrapper {
  margin: 100px auto;
  width: 70%;
  height: 50%;
  padding: 30px;
  border: 3px dashed #E6399B;
  border-radius: 10px;
  bachground-color: #FFFFFF;
}

.paragraph {
  margin: 0px 2px 15px 2px;
}

.errorMessage {
  color: #FF0033;
  font-size: 80%;
}

a {
  color: #444444;
  text-decoration: none;
  border-bottom: dotted 2px #444444;
}
